services:
  - type: web
    name: mushguard
    env: python
    buildCommand: "pip install -r requirements.txt && python manage.py collectstatic --noinput && python manage.py migrate"
    startCommand: "gunicorn myproject.wsgi:application"
    envVars:
      - key: DEBUG
        value: False
      - key: SECRET_KEY
        generateValue: true
      - key: ALLOWED_HOSTS
        value: mushguard.onrender.com
      - key: DATABASE_URL
        fromDatabase:
          name: mushguard-db
          property: connectionString

databases:
  - name: mushguard-db
    databaseName: mushguard
    user: mushguard